/* Default styles */
.circle-slider-outer{
  transform: rotate(-180);
}

.circle-slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .border-2 {
    width: 55%; /* Adjust the width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .border-2 {
    border: none; /* Further adjust the width for even smaller screens */
  }
}
