/* Banner.css */
.hoverLine {
    position: absolute;
    top: 0;
    left: 0;
    width: 6px; /* Initial width of the line */
    height: 100%;
    background-color: white;
    transition: width 0.3s; /* Transition for the width change */
}

.group:hover .hoverLine {
    width: 18px; /* Expanded width on hover */
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    transition: transform 0.5s ease-in-out;
}

.icon-container.hovered .icon {
    animation: zoomInOut 1s infinite alternate;
}

@keyframes zoomInOut {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
    }
}
